@import '../../_vars'

input.email-input
  background-color lightBackground
  outline none
  border none
  border-bottom primary solid 2px
  color textDark
  font-size 2rem

.email
  background-color lightBackground
  border-radius 2px
  border-bottom solid 1px rgba(0,0,0,0.2)
  padding 8px 0
  .subject
    color accentDark
    cursor pointer

